<button
  class="btn clarify-city__btn
  {{#if top}}
    clarify-city__btn--top
  {{/if}}"
  lat={{lat}}
  long={{long}}
  name={{name}}
  country-name={{countryName}}
> <span>{{name}}</span> <span>({{countryName}})</span></button>