<div class="weather-main">
  <div class="main__title">
    <h2>{{travelCity}}</h2>
  </div>
  <div class="main__date">
    <h3>{{travelDate}}</h3>
  </div>
  <div class="main__desc">{{weather.main.description}}</div>
  <div class="main__temp">{{weather.main.temp}}°</div>
  <div class="main__sun">
    <ul class="sun">
      <li class="sun__rise">{{weather.main.sunrise}} <span> RISE </span></li>
      <li class="sun__sun"><span> | SUN | </span></li>
      <li class="sun__set"><span> SET </span> {{weather.main.sunrise}}</li>
    </ul>
  </div>
</div>